header#site_header{
    padding: 20px;
    nav{
        @include my-display-flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #7B6858;
        padding: 10px;
        height: 70px;
        .link_menu{
            @include my-display-flex;
            align-items: center;
            a.link{
                color:$text_brown;
                font-size: $text_nav;
                text-decoration: none;
                margin: 0 10px;
            }
            a.button{
                @include my-display-flex;
                align-items: center;
                padding: 7px 9px;
                border:1px solid $text_link;
                border-radius: 6px;
                color: $text_link;
                background-color: $bg_white;
                img{
                    width: 20px;
                    margin-right: 5px;
                }
            }
            .mobile_menu{
                span{
                    display: none;
                }
            }
            
        }
    
    }
}
/**************
* MEDIA QUERY
***************/
/* screen iphone */
@media screen and (max-width: 550px){
    header#site_header{
        nav{
            .link_menu{
                
                a.link{
                    display: none;
                }
                a.button{
                    display: none;
                    img{
                        display: none;
                    }
                }
                .mobile_menu{
                    span{
                        display: block;
                    }
                }
            }
        }
    }
}
  
/* sreen tablet */
@media screen and (min-width: 551px) and (max-width: 998px){
    header#site_header{
        nav{
            .link_menu{
                
                a.link{
                    display: none;
                }
                a.button{
                    display: none;
                    img{
                        display: none;
                    }
                }
                .mobile_menu{
                    span{
                        display: block;
                    }
                }
            }
        }
    }
}
  
/* screen desktop */
// @media screen and (min-width: 999px) {
//     header#site_header{
//         nav{
//             .link_menu{
                
//                 a.link{
//                     display: block;
//                 }
//                 a.button{
//                     display: block;
//                     img{
//                         display: block;
//                     }
//                 }
//                 .mobile_menu{
//                     span{
//                         display: none;
//                     }
//                 }
                
//             }
        
//         }
//     }
// }
  