main#main_content{
    .jumbotron{
        padding: 60px 0;
        @include my-display-flex;
        .title_paragraph{
            h1{
                color: $text_brown;
                font-size: $text_h1;
                line-height: 1.5;
            }
            p{
                color: $text_brown;
                font-size: $text_p;
                line-height: 1.5;
                margin-top: 20px;
                margin-bottom: 60px;
            }
        }
        .sing_up{
            color: $text_brown;
            margin-bottom: 20px;
            @include my-display-flex;
            align-items: center;
            a.button_sing_up{
                color: white;
                text-decoration: none;
                padding: 8px 15px;
                background-color: $bg_link;
                border-radius: 6px;
                border: 1px solid $bg_link;
                @include my-display-flex;
                align-items: center;
                img{
                    width: 20px;
                    margin-right: 5px;
                }
            }
            p{
                color: $text_brown;
                margin: 0 10px;
            }
        }
        a.email_sing_up{
            color: $text_brown;
            text-decoration: none;
        }
        .col_2.bg_image{
            img{
                width: 100%;

            }
        }
    }
    .section_1{
        background-color: $bg_main;
        padding: 60px 0;
        .section_1_before{
            border-bottom: 2px solid #DEC6B1;
            .title{
                width: 45%;
                margin: 0 auto;
                h2{
                    color: $text_brown;
                    font-size: 30px;
                    text-align: center;
                    line-height: 1.6;
                    margin-bottom: 70px;
                }
            }
            .row{
                @include my-display-flex;
                align-items: center;
                .col_3{
                    text-align: center;
                    padding: 15px 0;
                    img{
                        height: 150px;
                    }
                    p{
                        color: $text_brown;
                        padding-top: 30px;
                        font-size: 20px;
                    }
                }
            }
            .col_3.image_center{
                padding: 100px 0;
                margin: 0 auto;
                img{
                    width: 100%;
                }
            }
        }
        .section_1_after{
            .title{
                width: 45%;
                margin: 0 auto;
                h2{
                    color: $text_brown;
                    font-size: 30px;
                    text-align: center;
                    line-height: 1.6;
                    margin-bottom: 70px;
                    padding-top: 100px;
                }
            }
            .row{
                @include my-display-flex;
                align-items: center;
                .col_3{
                    text-align: center;
                    padding: 15px 0;
                    img{
                        height: 150px;
                    }
                    p{
                        color: $text_brown;
                        padding-top: 30px;
                        font-size: 20px;
                    }
                }
            }
            .col_3.image_center{
                padding: 100px 0;
                margin: 0 auto;
                img{
                    width: 100%;
                }
            }
            h2.title_bottom{
                color: $text_brown;
                font-size: 30px;
                text-align: center;
            }
        }

    }
    .section_2{
        padding: 60px 0;
        .section_2_right{
            @include my-display-flex;
            margin: 70px 0;
            .col_2{
                .section_2_images{
                    img{
                        width: 100%;
                    }
                }
            }
            .col_4{
                .section_2_info{
                    h3{
                        font-size: 35px;
                        color: $text_brown;
                        line-height: 1.5;
                        margin-bottom: 70px;
                    }
                    p{
                        color: $text_brown;
                        font-size: 24px;
                        line-height: 1.5;
                        padding-right: 20px;
                        margin-bottom: 40px;
                        font-weight: 300;
                    }
                    a{
                        font-size: 20px;
                        color: $text_link;
                        text-decoration: none;
                    }
                }
                .section_2_images{
                    margin-top: 30px;
                    img{
                        width: 100%;
                    }
                }
                    
            }

        }
        .section_2_left{
            @include my-display-flex;
            .col_4{
                .section_2_info{
                    h3{
                        font-size: 35px;
                        color: $text_brown;
                        line-height: 1.5;
                        margin-bottom: 70px;
                    }
                    p{
                        color: $text_brown;
                        font-size: 24px;
                        line-height: 1.5;
                        padding-right: 20px;
                        margin-bottom: 40px;
                        font-weight: 300;
                    }
                    a{
                        font-size: 20px;
                        color: $text_link;
                        text-decoration: none;
                    }
                }
                .section_2_images{
                    margin-top: 30px;
                    img{
                        width: 100%;
                    }
                }
                    
            }
            .col_2{
                .section_2_images{
                    img{
                        width: 100%;
                    }
                }
            }

        }
    }
    .section_3{
        padding: 70px 0;
        background-color: $bg_main;
        .col_2{
            margin: 0 auto;
            text-align: center;
            .section_3_title{
                h2{
                    color: $text_brown;
                    font-size: 63px;
                    text-align: center;
                    line-height: 1.6;
                    margin-bottom: 70px;
                }
            }
            .card{
                margin: 0 20px;
                border: 2px solid #B1ACBA;
                border-radius: 6px;
                .card_info{
                    text-align: left;
                    padding: 30px;
                    background-color: white;
                    position: relative;
                    .quote{
                        position: absolute;
                        top: -25px;
                        left: 0;
                        font-size: 50px;
                        color: #2C4792;
                    }
                    .paragraph{
                        p{
                            padding: 20px 0;
                        }
                    }
                    .co_founders{
                        @include my-display-flex;
                        align-items: center;
                        img{
                            margin-right: 20px;
                        }
                        .founders{
                            a{
                                color: $text_link;
                                text-decoration: none;
                            }
                        }
                    }
                }

            }
            .sing_up{
                color: $text_brown;
                margin-top: 50px;
                margin-bottom: 20px;
                @include my-display-flex;
                align-items: center;
                justify-content: center;
                a.button_sing_up{
                    color: white;
                    text-decoration: none;
                    padding: 8px 15px;
                    background-color: $bg_link;
                    border-radius: 6px;
                    border: 1px solid $bg_link;
                    @include my-display-flex;
                    align-items: center;
                    img{
                        width: 20px;
                        margin-right: 5px;
                    }
                }
                p{
                    color: $text_brown;
                    margin: 0 10px;
                }
            }
            a.email_sing_up{
                color: $text_brown;
                text-decoration: none;
            }
        }
    }
    
}


@media screen and (max-width: 550px){
    main#main_content{
        .jumbotron{
            flex-direction: column;
            .title_paragraph{
                h1{
                    color: $text_brown;
                    font-size: 46px;
                    line-height: 1.5;
                }
                p{
                    color: $text_brown;
                    font-size: 21px;
                    line-height: 1.5;
                    margin-top: 20px;
                    margin-bottom: 60px;
                }
            }
            .sing_up{
                justify-content: center;
    
            }
        }
        .section_1{
            .row{
                flex-direction: column;
            }
        }
        .section_2{
            .section_2_right, .section_2_left{
                flex-direction: column;
            }
        }
    }
}
  
/* sreen tablet */
@media screen and (min-width: 551px) and (max-width: 998px){
    main#main_content{
        .jumbotron{
            flex-direction: column;
            .title_paragraph{
                h1{
                    color: $text_brown;
                    font-size: 50px;
                    line-height: 1.5;
                }
                p{
                    color: $text_brown;
                    font-size: 23px;
                    line-height: 1.5;
                    margin-top: 20px;
                    margin-bottom: 60px;
                }
            }
            .sing_up{
                justify-content: center;
    
            }
        }
        .section_1{
            .row{
                flex-direction: column;
            }
        }
        .section_2{
            .section_2_right, .section_2_left{
                flex-direction: column;
            }
        }
    }
}


